@import url('https://fonts.googleapis.com/css2?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#inicio{
    color: white;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inicio>div{
    /* background-color: red; */
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#inicio>div>div{
    /* background-color: green; */
    width: 49.5vw;
    height: 49.5vh;
    border: 1px solid white;
}
#div-colores{
    background-image: url(./eb8c0a46c2085216dea7d19f92a60fd7_XL.jpg);
    background-size: cover;
    background-position: center;
}
#div-tipografia{
    background-image: url(./featured-carto-palette.png);
    background-size: cover;
    background-position: center;
}
#div-iconos{
    background-image: url(./open-graph-icons.png);
    background-size: cover;
    background-position: center;
}
#div-documentacion{
    background-image: url(./Palettab.jpg);
    background-size: cover;
    background-position: center;
}


/*--------------------------------*/
#colores{
    background-color: gray;
    padding: 5%;
}
#colores-container{
    width: 80%;
    margin: 5% auto;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1%;

}
#colores-container-div0{
    width: 50%;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#colores-container-div0>div:nth-child(1){
    width: 40%;
    margin: 3%;
    background-color: white;
    border: 1px solid black;
    height: 30vh;
}

#colores-container-div1{
    width: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#colores-container-div1>div:nth-child(1){
    width: 40%;
    margin: 3%;
    background-color: lightgray;
    border: 1px solid black;
    height: 30vh;
}
#colores-container-div2{
    width: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#colores-container-div2>div:nth-child(1){
    width: 40%;
    margin: 3%;
    background-color: gray;
    border: 1px solid black;
    height: 30vh;
}
#colores-container-div3{
    width: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#colores-container-div3>div:nth-child(1){
    width: 40%;
    margin: 3%;
    background-color:rgb(154, 120, 35);
    border: 1px solid black;
    height: 30vh;
}
#colores-container-div4{
    margin-left: 25%;
    width: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#colores-container-div4>div:nth-child(1){
    width: 40%;
    margin: 3%;
    background-color: black;
    border: 1px solid black;
    height: 30vh;
}

/*--------------------------------*/

#tipografia{
    background-color: lightblue;
    padding: 5%;
}
#tipografia-container{
    width: 80%;
    margin: 5% auto;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1%;
}

#tipografia-container>div:nth-child(1){
    font-family: "Nunito", sans-serif;
    text-align: center;
    width: 50%;
}

#tipografia-container>div:nth-child(2){
    font-family: "Tilt Neon";
    width: 50%;
    text-align: center;
}

/*--------------------------------*/
#iconos{
    background-color: lightblue;
    padding: 5%;
    text-align: center;
}
#iconos-container{
    margin: 5% auto;
    background-color: beige;
    padding: 1%;
}

#iconos-container>div{
    font-size: 2em;
}

/*--------------------------------*/


#documentacion{
    background-color: lightblue;
    padding: 5%;
    text-align: center;
}
#documentacion-container{
    width: 80%;
    margin: 5% auto;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1%;
}

#documentacion-container>div{ 
    width: 30%;
}

